<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>提出ページ</title>
		<meta name="description" content="書いたソースコードの提出を行うページ">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<script>
			MathJax = {
				chtml: {
					scale: 0.7 ,
					matchFontHeight: false
				}
			};
		</script>
		<script id="MathJax-script" async
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
		</script>
	</head>
	<body>
		<header id="pageHead">
			<div class="pageTopRegion">
				<h1 id="siteTitle" style="float: left;">問題を解く</h1>
				<div id="usermanip" style="float: right;">
					<a th:href="@{/login}" sec:authorize="!isAuthenticated()" style="top: 30px;">sign in</a><br>
					<a th:href="@{/register}" sec:authorize="!isAuthenticated()" style="top: 30px;">register</a>
					<a th:href="@{/list}" sec:authorize="isAuthenticated()" sec:authentication="name"></a><br>
					<a th:href="@{/logout}" sec:authorize="isAuthenticated()">Log Out</a>
				</div>
			</div>
			<nav class="globalNavi">
				<ul>
					<li><a th:href="@{/}">ホーム</a></li>
					<li class="current">問題を解く</li>
					<li><a th:href="@{/links}">リンク集</a></li>
					<li><a th:href="@{/about}">サイトについて</a></li>
				</ul>
			</nav>
		</header>
		<p class="topicPath"><a th:href="@{/}">ホーム</a> &gt; <a th:href="@{/judge_system/spring_camp/choose}">問題を選ぶ</a> &gt; 問題を解く</p>
		<div id="problemDescription">
			<h1 id="problemTitle">Score</h1>
			<a href="https://www.ioi-jp.org/camp/2007/2007-sp-tasks/2007-sp-day1_20.pdf" target="_blank" rel="noopener noreferrer">問題文へのリンク</a>
		</div>
		<section id="problemDetail">
		<p>
			　<font color="red">※注意</font> <font face="serif">問題文中に入力ファイルからの入力との表記がありますが、元の問題文からの改変を避けるためであり、実際は標準入力からの入力となります。</font><br><br>
			　先日，JOI大学情報学科で入学試験が行われた．試験は\( \small 100\)点満点であり\( \small n\)人の生徒が受験した．JOI大学では，合格最低点を決定するために，試験結果を元に各生徒に順位をつけることにした．<br>
			　\( \small n\)人の生徒の得点が与えられたとき，各生徒の順位を求めるプログラムを作成せよ．ただし，同じ得点の生徒がいる可能性があることに注意せよ．<br><br>
			　\( {\small \bf Input.} \) 入力ファイル \( {\tt \small score.in} \) の\( \small 1\)行目には，生徒の人数\( \small n(1 \leqq n \leqq 100000)\)が書かれている．続く\( \small n\)行は生徒の得点を表す．\( \small i + 1 (1 \leqq i \leqq n)\)行目には受験番号\(i\)の生徒の得点\( \small s_i(0 \leqq s_i \leqq 100)\)が書かれている．<br>
			　\( {\small \bf Output.} \) 出力は，標準出力に行うこと．出力は\( \small n\)行からなる\( \small i\)行目\( \small (1 \leqq i \leqq n)\)に受験番号\(i\)の生徒の順位を出力せよ．<br><br>
			例<br>
			\( \small \begin{array}{ccc}
			{\tt score.in} & 標準出力 \\
			\hline
			6 & 1 \\
			100 & 3 \\
			90 & 5 \\
			80 & 3 \\
			90 & 1 \\
			100 & 6 \\
			65 \\
			\hline
			\end{array} \)
		</p>
		</section>

		<div id="submissionPageBody">
			<section class="submissionArea">
				<label for="submit">提出欄</label>
				<form th:action="@{/result/score}" method="post">
					<div id="editor" style="height: 550px; width: 600px;"></div>
					<textarea name="submit" id="submit" style="display: none;"></textarea>
					<input class="submitBtn" type="submit" value="提出して結果を見る →">
				</form>
			</section>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
		<script>
			var editor = ace.edit("editor");
			editor.getSession().setMode("ace/mode/c_cpp");
			editor.getSession().on('change', function(){
				var textcode = editor.getSession().getValue();
				document.getElementById('submit').value = textcode;
			});
		</script>
	</body>
</html>